.header-color {
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.avatar-img {
  height: 256px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: 600;
  color: #fff;
}

.banner-text hr {
  border-top: 5px dotted #fff;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: #fff;
  font-size: 20px;
  padding: 1em;
  margin: auto;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin: auto;
  padding:10px;
}

.social-links i {
  color: #fff;
  font-size: 5em;
  display: inline;
}